.main {

  padding: 0;
  margin-top: 100px;
  .content1 {
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .product{
      &_img{
        width: 100%;
      }
    }
    .atmos {
      width: 100%;
      &_tittle {
        font-weight: 600;
        color: #ffff;
      }
       .btn_box {
        margin-top: 20px;
        display: flex;
        &_buy_now{
          background-color:#F5B747;
          width: 150px;
        }
        &_add_to_card{
          margin-left: 20px;
          border-color: #F5B747;
          color: white;
          text-decoration: none;
          text-transform: none;
          width: 150px;

        }

      }
    }
  }
  .content2 {
    margin-left: 200px;
    margin-right: 200px;
    .gallary {
      display: flex;
      justify-content: center;
      .gallary_png {
        width: 100%;
      }
    }
    .all_products {
      display: flex;
      justify-content: center;
    }
  }

  .content3 {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    .tittle1,
    .tittle2 {
      text-align: center;
    }
    .tittle1 {
      color: #ffff;
      font-weight: 700;
    }
    .tittle2 {
      margin-top: 20px;
      color: #000000aa;
      font-weight: 700;
    }
    .switch_box {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      align-items: baseline;
      .yearly,
      .monthly {
        color: #ffff;
      }
      .monthly {
      }
    }
    .plan_cards {
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
    }
  }
}
