.main {
  padding: 0;
  margin-top: 100px;
  .content1 {
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    .atmos {
      // border: 2px solid green;
      .tittle {
        font-weight: 600;
        color: #ffff;
      }
    }
  }
  .content2 {
    .gallary {
      display: flex;
      justify-content: center;
      .gallary_png {
        width: 100%;
      }
    }
    .all_products {
      display: flex;
      justify-content: center;
      .btn_all_products {
        margin-top: 20px;
        border-color: white;
        color: #ffff;
        border-radius: 10px;
        text-transform: lowercase;
      }
    }
  }

  .content3 {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    .tittle1,
    .tittle2 {
      text-align: center;
    }
    .tittle1 {
      color: #ffff;
      font-weight: 700;
    }
    .tittle2 {
      margin-top: 20px;
      color: #000000aa;
      font-weight: 700;
    }
    .switch_box {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      align-items: baseline;
      .yearly, .monthly{
        color: #ffff;
      }
      .monthly{

      }
      
    }
    .plan_cards{
      display: flex;
      justify-content: center;
    }
    
  }
}
