div .card {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  width: 250px;
  height: 400px;
  background-color: var(--foreground-rgb);
  border-radius: 15px;
  box-shadow: inset 0 -3em 3em rgba(11, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(57, 56, 56, 0.3);

  &_tittle {
    height: 50px;
    z-index: 3;
    .price_box {
      padding: 10px 20px 10px 20px;
      .subscribe_type {
        text-align: center;
        color: white;
        font-size: 29px;
        font-weight: 700;
      }
      .price_section {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;

        .price {
          font-size: 40px;
          font-weight: 700;
        }
      }
    }
  }

  &_body {
    .bg_box {
      // padding: 0;
      .vector_img {
        z-index: 1;
        background-size: contain;
        width: 100%;
      }
    }
    .text {
      &_wrapper {
        // margin-top: -10px;
        padding: 0 10px 0 10px;
        z-index: 2;
        // border: 2px solid black;
      }

      &_box {
        display: flex;
        align-items: start;
        margin-bottom: 10px;

        .options {
          font-size: 15px;
          color: white;
        }
      }
    }
  }
}

.sub_btn {
  display: flex;
  justify-content: center;
}

.card:hover {
  transform: scale(1.1);
  // margin-right: 70px;
  transition: 0.5s;
}
.card:after {
  background-color: red;
  // transform-style: ;
  transition: 0.4s;
}
