.main {
  display: flex;
  justify-content: center;
  .content1 {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 500px;
    // border: 2px solid red;
    .hero {
      //   border: 1px solid blue;
      //   display: block;
      .text {
        display: block;
        margin-top: 5px;
      }
      .text1,
      .text2 {
        font-size: 70px;
        font-weight: 700;
        color: #ffff;
      }
      .text3,
      .text4 {
        font-size: 30px;
      }

      .text5 {
        color: black;
      }
      .btnGroup {
        margin-top: 10px;
        display: flex;
        .btn_try_now {
          height: 100%;
          background-color: black;
        }
        .btn_free {
          background-color: #f5b747;
          color: black;
        }
      }
    }
    .mockups {
      // display: block;
      //   border: 2px solid blue;
      .phones {
        // position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
  .content2 {
    margin-top: 100px;
    .bgImage {
      background-image: url("../../public/bg.png");
      background-size: cover;
      background-repeat: no-repeat;
      height: 200px;
    }
    .features {
      display: flex;
      justify-content: space-around;
      .personalized,
      .gallary,
      .MoodTracker {
        margin-top: 80px;
        color: #ffff;
      }
      .persTittle {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        span {
          display: block;
        }
      }
    }
  }
  .content3{
    .nextsection {
        background: linear-gradient(#e0a12e, var(--background-end-rgb));
        height: 100vh;
      }
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
  }
}
