.visible {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.hidden {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.content1 {
  padding-left: 200px;
  padding-right: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  .hero {
    display: block;
    margin-top: 5px;
    .text1,
    .text2 {
      font-size: 70px;
      font-weight: 700;
      color: #ffff;
    }
    .text3,
    .text4 {
      font-size: 30px;
    }

    .text5 {
      color: black;
    }
    .btnGroup {
      display: flex;
      margin-top: 10px;
      display: flex;
      .btn_try_now {
        color: #ffff;
        height: 100%;
        background-color: black;
      }
      .btn_free {
        background-color: #f5b747;
        color: black;
      }
    }
  }
}

.gradient {
  background: linear-gradient(#e0a12e, var(--background-end-rgb));
  width: 100%;
  height: 100%;
  margin-top: 450px;

  position: relative;
}
.content2 {
  display: flex;
  justify-content: center;

  height: auto;

  .bg_img {
    width: 100%;
    position: absolute;
    top: -360px;
    height: 360px;
    z-index: 1;
  }

  .features {
    padding-left: 200px;
    padding-right: 200px;
    position: absolute;
    top: -300px;
    z-index: 2;
    display: flex;
    justify-content: space-between;

    .personalized,
    .gallary,
    .mood_tracker {
      margin-top: 60px;
      color: #ffff;
    }
    .persTittle {
      display: flex;
      align-items: center;
    }
  }
}

.content3 {
  margin-top: 200px;
  width: 100%;
  display: flex;
  justify-content: center;

  .iphone_plan {
    position: relative;
    text-align: end;
  }

  .line {
    z-index: 3;
    margin-bottom: 297px;
    margin-left: -85px;
  }
  .text_block {
    margin-top: 56px;
    .tittle {
      color: white;
      font-weight: 700;
    }
  }
}

.content4 {
  display: flex;
  justify-content: center;

  position: relative;

  .bg_box {
    margin-top: 200px;
    display: flex;
    width: 100%;
    z-index: 1;
    .bg2_img {
      width: 100%;
      max-height: 570px;
    }
    .sun_img {
      // border: 1px solid red;
      position: absolute;
      top: 60px;
      right: 0;
      z-index: 2;
      max-height: 300px;
    }
  }

  .sliderContainer {
    margin-top: -500px;
    z-index: 3;
    display: flex;
    justify-content: space-around;
  }
}

.content5 {
  height: 500px;
  display: flex;
  justify-content: center;
  .tittle5 {
    text-align: center;
    color: white;
    .sub_tittle5 {
      color: black;
      font-size: 20px;
    }
  }
  .fq_list {
    color: white;
    .divider {
      opacity: 20%;
      height: 2px;
      background-color: white;
      width: 100%;
    }
    .menu1 {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
    .fq_text {
      font-size: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

.content6 {
  margin-top: 100px;
  margin-bottom: 200px;
  display: flex;
  justify-content: center;
  .text_container {
    display: block;
    text-align: center;
    margin-bottom: 30px;
    .text6 {
      font-size: 20px;
      color: #f2ba53;
    }
    .text7 {
      font-size: 40px;
      font-weight: 600;
      color: white;
    }
  }
  .btn_row {
    display: flex;
    justify-content: center;
    .btn_download_now {
      background-color: black;
      color: white;
      transform: scale(1);
      transition: transform 0.7s ease;
    }
    :hover {
      // height: 50px;
      // width: 200px;
      transform: scale(1.1);
      background-color: rgb(49, 48, 48);
      transition: 0.5s;
    }
  }
}

/* Enable hover only on non-touch devices */
// @media (hover: hover) and (pointer: fine) {
//   .card:hover {
//   }
// }
