.wrapper {
  padding: 0;
}
.header {
  display: flex;
  align-items: baseline;
  padding: 0px 20px 0px 20px;
}
.logo {
  display: flex;
  color: white;
  padding-left: 20px;
}
.navigation {
  display: flex;
  justify-content: flex-end;
  &_context {
    color: white;

    .tab {
      color: white;
      text-decoration: none;
      text-transform: none;
    }
  }
}
