.wrapper {
  display: flex;
  justify-content: center;
  .forcaste_icons {
    margin-bottom: -30px;
    background-image: url("../../../public/images/forcaste_icons.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    width: 100%;
  }
  .footer {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    background-image: url("../../../public/images/bg_wave2.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    .content1 {
      margin-top: 100px;
      .icon_wrapper {
        .icon_container {
          display: flex;
          height: 20px;
          align-items: center;
        }
        .brand_icon {
          margin-right: 10px;
        }
      }
      .text_container1 {
        .text_wrapper {
          cursor: pointer;
          transform: scale(1);
          transition: transform 0.7s ease;
          .btn_email {
            transform: scale(1);
            transition: transform 0.7s ease;
            text-transform: none;
            color: white;
            background-color: var(--foreground-rgb);
          }
          .btn_email:hover {
            transition: 0.5s;
            transform: scale(1.1);
          }
        }
        .text_wrapper:hover {
          transition: 0.5s;
          transform: scale(1.1);
        }
        .text1 {
          font-size: 20px;
          margin-bottom: 20px;
          color: white;
          transform: none;
        }
        .text2 {
          font-size: 18px;
          margin-bottom: 20px;
          color: var(--footer-text-rgb);
          transform: scale(1);
          transition: transform 0.7s ease;
        }
        .text2:hover {
          transition: 0.5s;
          transform: scale(1.1);
          color: white;
        }
        .text3 {
          font-size: 14px;
          margin-top: 10px;
          color: var(--footer-text-rgb);
          // F5B747
        }
      }
      .getnow_row {
        margin-top: 50px;
        margin-bottom: 200px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        color: white;
        .juniper {
          transform: scale(1);
          transition:  0.7s ease;
          text-transform: uppercase;
          color: white;
          font-size: 30px;
        }
        .juniper:hover {
          transition: 0.5s;
          transform: scale(1.1);
          text-shadow: 15px 15px var(--foreground-rgb);
          cursor: pointer;
          // background-color: var(--foreground-rgb);
          // color: #fff;
          // text-shadow:
          //     #343434 1px 1px 1px,
          //     0 0 10px #fff,
          //     0 0 20px #fff,
          //     0 0 30px #fff,
          //     0 0 40px #ff00de,
          //     0 0 70px #ff00de,
          //     0 0 80px #ff00de,
          //     0 0 100px #ff00de,
          //     0 0 150px #ff00de;  
          // text-decoration: none;
        }
        .btn_getnow {
          transform: scale(1);
          transition: transform 0.7s ease;
          text-transform: none;
          color: white;
          background-color: var(--foreground-rgb);
        }
      }
    }
  }
}
